  <!-- Main Content -->
  <main class="content">
    <div class="header-list-page">
      <h1 class="title">Categories</h1>
      <a href="addCategory" class="btn-action">Add new Category</a>
    </div>
    <table class="data-grid">
      <tr class="data-row">
        <th class="data-grid-th">
            <span class="data-grid-cell-content">Name</span>
        </th>
        <th class="data-grid-th">
            <span class="data-grid-cell-content">Code</span>
        </th>
        <th class="data-grid-th">
            <span class="data-grid-cell-content">Actions</span>
        </th>
      </tr>
      {loop="$categories"}
        <tr class="data-row">
              <option value="{$value.id}"></option>
            <td class="data-grid-td">
               <span class="data-grid-cell-content">{$value.name}</span>
            </td>
            <td class="data-grid-td">
               <span class="data-grid-cell-content">{$value.code}</span>
            </td>
        
        
            <td class="data-grid-td">
              <div class="actions">
                <div class="action edit"><span><a href="/editCategory/{$value.id}">Edit</a></span></div>
                <div class="action delete"><span><a href="/deleteCategory/{$value.id}">Delete</a></span></div>
              </div>
            </td>
        </tr>
      {/loop}
    </table>
  </main>
  <!-- Main Content -->