  <!-- Main Content -->
  <main class="content">
    <div class="header-list-page">
      <h1 class="title">Dashboard</h1>
    </div>
    <div class="infor">
      You have {$qtd} products added on this store: <a href="addProduct" class="btn-action">Add new Product</a>
    </div>
    <ul class="product-list">
      {loop="$products"}
      <li>
        <div class="product-image">
          <a href="/editProduct/{$value.id}" title="{$value.name}">
            <img src="assets/images/product/{$value.id}/{$value.image}" layout="responsive" width="164" height="145" alt="Tênis Runner Bolt" />
          </a>
        </div>
        <div class="product-info">
          <div class="product-name"><span>{$value.name}</span></div>
          <div class="product-price"><span class="special-price">9 available</span> <span>R${$value.price}</span></div>
        </div>
      </li>
      {/loop}
    </ul>
  </main>
  <!-- Main Content -->
