  <!-- Main Content -->
  <main class="content">
    <h1 class="title new-item">Edit Product</h1>
    
    <form method="post" action="/editProduct" enctype="multipart/form-data">
      <div class="input-field">
        <label for="sku" class="label">Product SKU</label>
        <input type="text" id="sku" name="sku" value="{$product.sku}" class="input-text" /> 
      </div>
      <div class="input-field">
        <label for="name" class="label">Product Name</label>
        <input type="text" id="name" name="name" value="{$product.name}" class="input-text" /> 
      </div>
      <div class="input-field">
        <label for="price" class="label">Price</label>
        <input type="text" id="price" name="price" value="{$product.price}" class="input-text" /> 
      </div>
      <div class="input-field">
        <label for="quantity" class="label">Quantity</label>
        <input type="text" id="quantity" name="quantity" value="{$product.quantity}" class="input-text" /> 
      </div>
      <div class="input-field">
        <label for="category" class="label">Categories</label>
        <select multiple id="category" name="category[]" class="input-text">
          {loop="$product.categories"}
              {if="$value.contem"}
              <option value="{$value.id}" selected="selected">{$value.name}</option>
              {else}
              <option value="{$value.id}">{$value.name}</option>
              {/if}
          {/loop}
        </select>
      </div>
      <div class="input-field">
        <label for="description" class="label">Description</label>
        <textarea id="description" name="description" class="input-text">{$product.description}</textarea>
      </div>
      <div class="input-field">
        <label for="fileImage" class="label">New Image</label>
        <input type="file" id="fileImage" name="image" accept="image/*" class="input-text" /> 
      </div>
      <input type="hidden" name="id" value="{$product.id}">
      <div class="actions-form">
        <a href="/products" class="action back">Back</a>
        <input class="btn-submit btn-action" type="submit" value="Save Product" />
      </div>
      
    </form>
  </main>
  <!-- Main Content -->