 <!-- Main Content -->
  <main class="content">
    <div class="header-list-page">
      <h1 class="title">Products</h1>
      <a href="addProduct" class="btn-action">Add new Product</a>
    </div>
    <table class="data-grid">
      <tr class="data-row">
        <th class="data-grid-th">
            <span class="data-grid-cell-content">Name</span>
        </th>
        <th class="data-grid-th">
            <span class="data-grid-cell-content">SKU</span>
        </th>
        <th class="data-grid-th">
            <span class="data-grid-cell-content">Price</span>
        </th>
        <th class="data-grid-th">
            <span class="data-grid-cell-content">Quantity</span>
        </th>
        <th class="data-grid-th">
            <span class="data-grid-cell-content">Categories</span>
        </th>

        <th class="data-grid-th">
            <span class="data-grid-cell-content">Actions</span>
        </th>
      </tr>
      {loop="$products"}
      <tr class="data-row">
        <td class="data-grid-td">
           <span class="data-grid-cell-content">{$value.name}</span>
        </td>
      
        <td class="data-grid-td">
           <span class="data-grid-cell-content">{$value.sku}</span>
        </td>

        <td class="data-grid-td">
           <span class="data-grid-cell-content">R$ {$value.price}</span>
        </td>

        <td class="data-grid-td">
           <span class="data-grid-cell-content">{$value.quantity}</span>
        </td>

        <td class="data-grid-td">
           <span class="data-grid-cell-content">
            {loop="$value.categories"}
              {$value.name}<br/>
            {/loop}
           </span>
        </td>
      
        <td class="data-grid-td">
          <div class="actions">
            <div class="action edit"><span><a href="/editProduct/{$value.id}">Edit</a></span></div>
            <div class="action delete"><span><a href="/deleteProduct/{$value.id}">Delete</a></span></div>
          </div>
        </td>
      </tr>
      {/loop}
    </table>
  </main>
  <!-- Main Content -->